/* Custom CSS only for CiviCase screens */

#caseSummary{
margin-bottom:.5em;
}

#caseSummary > div{
padding:10px 10px 9px;
background-color:#F6F6F6;
border:1px solid #999999;
float:left;
margin-bottom:12px;
margin-right:5px;
}

#caseSummary #semester-pref{
padding-top:9px;
margin-bottom:11px;
}

#caseSummary div.value{
display:inline;
}

#caseSummary label{
margin-right:.3em;
}
