body{
	margin: 0;
	padding: 0;
}

#page,
#closure-blocks{
  min-width: 600px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

#top-links {
	padding-top:5px;
	padding-right:5px;
	height:28px;
}

#menus {
	bottom:0;
	position:absolute;
	right:4%;
	width:90%;
}

#main{
  position: relative;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}

#content{
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

#content-inner,
.no-sidebars #content-inner{
  margin: 0;
  padding: 0;
}

.sidebar-left #content-inner{
  padding-left: 216px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}

.sidebar-right #content-inner{
  padding-left: 0;
  padding-right: 216px; /* The width + right margin of #sidebar-right. */
}

.two-sidebars #content-inner{
  padding-left: 216px; /* The width + left margin of #sidebar-left. */
  padding-right: 216px; /* The width + right margin of #sidebar-right. */
}

#sidebar-left{
  float: left;
  width: 216px;
  margin-left: 0;
  margin-right: -216px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-left-inner{
  margin: 0 12px 0 0;
  padding: 0;
}

#sidebar-right{
  float: right;
  width: 216px;
  margin-left: -216px; /* Negative value of #sidebar-right's width + right margin. */
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

#sidebar-right-inner{
  margin: 0 0 0 12px;
  padding: 0;
}

#footer{
  background:url("/sites/all/themes/woolman/images/background-dark.jpg") repeat;
}

#footer-inner{
  background: rgba(37, 4, 1, 0.5);
  padding: 1em 0;
  font-size: 1.1em;
  color: #eee;
}
#footer-inner ul{
  margin: 0;
  padding: 0;
}
#footer-inner li{
  list-style-type: none;
  margin-bottom: .5em;
}
#footer-inner a{
  color: #eee;
  padding-left: 35px;
  font-weight: normal;
}
#footer-inner a:before {
  margin: 0;
  font-size: 18px;
}
#footer-inner .clear-block {
  padding: 0 216px;
}
body.narrow #footer-inner .clear-block {
  padding: 100px;
}
body.xnarrow #footer-inner .clear-block {
  padding: 0;
}
#footer-inner .clear-block div {
  float: left;
  width: 30%;
  margin: 0 1.5%;
}

/** Prevent overflowing content **/
#header,
#content,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks{
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/* Hide search button */
#search input.form-submit {
  position: fixed;
  top: -500px;
}

/* Responsive adjustments */
body.narrow {
  font-size: 110%;
}
body.xnarrow {
  font-size: 100%;
}

body.narrow #sidebar-left{
  display:none;
}
body.narrow #content-inner{
  padding-left: 0;
}

body.xnarrow #sidebar-right{
  display:none;
}
body.xnarrow #content-inner{
  padding-right: 0;
}