body.in-maintenance{
	margin:0;
	padding: 0;
	background: white;
	color:white;
}

#page{
	position:absolute;
	top:0;
	width:100%;
	padding: 0 0 1em;
	margin:0;
	color: black;
	background: url("/sites/all/themes/woolman/images/background.jpg") repeat;
}

#top-links{
	font-size:1.1em;
	padding: .5em 0;
}

#top-links span{
	margin: 0 1.5%;
}

#header{
	height:150px;
	background: url("/sites/all/themes/woolman/images/woolman_pjs.png") no-repeat scroll 20px 20px #638647;
}
	
#main {
	padding: 1.5em;
	min-height: 20em;
}

.db-offline #content-area {
	display:none;
}
	
#footer {
	margin:1em 0;
	text-align:center;
}

#footer .block span {
margin: 0 1.5%;
}