.toc {
  background-image:url(/sites/all/themes/woolman/images/background-light.jpg);
  border: 1px solid #B5C9D8;
  font-size: 95%;
  text-align: left;
}

.content .toc {
  max-width: 45%;
}
/* cancel the width formatting in the block */
.block .toc {
  max-width: 100%;
}

.toc-title {
  text-align: center;
  font-weight: bold;
  background-image:url(/sites/all/themes/woolman/images/background-dark.jpg);
  padding: .3em .1em;
  position:relative;
}

.toc-list {
  padding: 0 10px 0 0;
}

.toc-toggle-message {
	display:block;
	position:absolute;
	right:3px;
	top:3px;
	font-size:.9em;
}

.toc ul {
  list-style-image: none;
  list-style-type: none;
}

.toc li{
	margin-bottom: .2em;
}

.toc-number {
  display: block;
  margin-left: -30px;
  float: left;
}

.toc-back-to-top {
  padding-right: 25px;
  text-align: right;
  font-style: italic;
  background: transparent url(/sites/all/modules/tableofcontents/back-to-top.gif) no-repeat 100% 50%;
}

.toc a,
.toc a:link,
.toc a:visited{
	font-weight:normal;
}
